.about_first-section {
    height: 727px !important;
    background-color: #d8a44e;
}

.about_title {
    font-family: "Cardo";
    font-weight: normal;
}

.about_content {
    font-family: "Cardo";
    font-weight: bold;
    line-height: 27px;
}

.about_first_text {
    font-family: "Lato";
}

.about_second_section {
    height: 1240px;
    font-family: "Cardo";
}

.about_second_title {
    font-family: "Cardo";
    font-weight: bold;
}

.about_second_sub_title {
    font-family: "Cardo";
    font-weight: bold;
    margin-bottom: 20px;
}

.about_second_content {
    font-family: "Cardo";
    font-weight: normal;
    line-height: 44px;
}

.about_third_section {
    background-color: #d8a44e;
    height: 727px;
}

.about_third_title {
    font-size: 42px;
}

.about_third_content {}