.about_first-section {
    height: 727px !important;
    background-color: #d8a44e;
}

.about_title {
    font-family: "Cardo";
    font-weight: normal;
}

.about_content {
    font-family: "Cardo";
    font-weight: bold;
    line-height: 27px;
}

.about_first_text {
    font-family: "Lato";
}

.about_second_section {
    height: 1240px;
    font-family: "Cardo";
}

.about_second_title {
    font-family: "Cardo";
    font-weight: bold;
}

.about_second_sub_title {
    font-family: "Cardo";
    font-weight: bold;
    margin-bottom: 20px;
}

.about_second_content {
    font-family: "Cardo";
    font-weight: normal;
    line-height: 44px;
}

.about_third_section {
    background-color: #d8a44e;
    height: 727px;
}

.about_third_title {
    font-size: 42px;
}

@media only screen and (max-width: 600px) {
    .about_title,
    .about_second_title {
        font-size: 35px !important;
    }
    .about_content,
    .about_second_sub_title,
    .about_second_content {
        font-size: 20px !important;
    }
    .about_body {
        margin: 20px !important;
    }
    .about_first_section {
        height: 1600px !important
    }
}

@media only screen and (max-width: 415px) {
    .about_first_section {
        height: 1600px !important
    }
}