.section_one {
    background-color: #d8a44e;
    height: 858px;
}

.s1_title {
    font-family: "Cardo";
    font-size: 72px;
}

.s1_body_1 {
    font-family: "Cardo";
}

.s1_body_2 {
    font-family: "Cardo";
    font-size: 24px;
}

.section_two {
    height: 812px;
    position: relative;
}

.s2_text {
    font-size: 56px;
    font-family: "Cardo";
}

.s2_openSea {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 140px;
    top: 650px;
    background: #005baa;
}

.s2_openSea_text {
    font-family: "Roboto";
}

.section_three {
    height: 1400px;
    background-color: #e5e5e5;
}

.s3_left_title {
    font-size: 47px;
    font-family: "Cardo";
    font-weight: normal;
}

.s3_left_content {
    font-size: 25px;
    font-family: "Cardo";
    font-family: normal;
}

.section_three {}

.s4_title {
    font-family: "Cardo";
    font-size: 48px;
    font-weight: normal;
}

.s4_sub_title {
    font-family: "Cardo";
    font-size: 25px;
    font-weight: bold;
}

.s4_content {
    line-height: 37px;
    font-size: 25px;
    font-family: "Cardo" !important;
    font-family: normal;
    line-height: 41px !important;
}

.section_five {
    height: 787px;
    background-color: #d8a44e;
}

.s5_title {
    font-family: "Cardo";
    font-size: 48px;
}

.s5_content {
    line-height: 37px;
    font-family: "Cardo";
    font-size: 25px;
}

.s5_right {
    background-color: white;
    width: 406px;
    height: 604px;
}

.s5_right_number,
.s5_right_text {
    line-height: 66px;
    text-transform: uppercase;
    font-family: "Cardo";
    font-size: 25px;
    font-weight: normal;
}

.s5_right_number {
    font-weight: bold;
}

.section_six {
    height: 700px;
}

.s6_left_title {
    font-family: "Cardo";
    font-size: 48px;
    font-weight: normal;
}

.s6_sub_title,
.s6_content {
    font-family: "Cardo" !important;
    font-size: 25px;
    font-family: normal;
}

.s6_sub_title {
    font-weight: bold;
}

.section_seven {
    height: 1189px;
    background-color: #84bfcc;
}

.s7_title {
    font-family: "Cardo";
    font-size: 48px;
    font-weight: normal;
}

.s7_ms_title {
    font-size: 25px;
    font-family: "Cardo";
    font-weight: bold;
}

.s7_ms_content {
    font-size: 14px;
    font-family: "Cardo";
    font-weight: normal;
}

.s7_ms_center {
    height: 700px;
}

.section_eight {
    height: 1484px;
    background-color: #e8d424;
}

.s8_title {
    font-family: "Cardo";
    font-weight: normal;
    font-size: 48px;
}

.s8_content {
    font-family: "Cardo";
    font-size: 25px;
    font-weight: bold;
}

.s8_content_1 {
    line-height: 60px;
}

@media only screen and (max-width: 600px) {
    .section_three {
        display: block !important;
        padding: 20px !important;
    }
    .section_five {
        display: block !important;
        padding: 20px !important;
        height: 1200px;
    }
    .section_six {
        height: 900px !important;
    }
    .section_seven {
        height: 1300px !important;
        padding: 0px !important;
        padding-top: 20px !important;
    }
    .section_eight {
        height: 1850px !important;
    }
    .s5_left {
        width: 100% !important;
    }
    .s3_left {
        width: 100% !important;
    }
    .s5_right {
        width: 100%;
    }
    .s1_title,
    .s3_left_title,
    .s6_left_title,
    .s7_title,
    .s8_title {
        font-size: 35px;
    }
    .s1_body_1,
    .s1_body_2,
    .s3_left_content,
    .s5_right_number,
    .s5_right_text {
        font-size: 15px !important;
    }
    .s2_text,
    .s6_sub_title,
    .s6_content,
    .s7_ms_title,
    .s8_content,
    .s8_content_1 {
        font-size: 20px;
    }
    .s8_content {
        word-wrap: break-word;
    }
    .s1_btn {
        margin-top: 15px !important;
        margin-left: 15px !important;
    }
    .about_first_btn {
        margin: 10px !important;
        margin-bottom: 10px !important;
    }
    .about_first_text {
        font-size: 10px !important;
    }
    .s2_img {
        width: 100px !important;
        height: 100px !important;
    }
    .s7_milestones {
        margin-top: 10px !important;
    }
    .s7_ms_center {
        width: 1rem !important;
        height: 1150px !important;
    }
    .hide_title {
        margin-left: 600px;
    }
}