/* @import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Lato:wght@900&family=Roboto:wght@400;700&display=swap'); */

@font-face {
    font-family: "Cardo";
    src: url("/fonts/Cardo-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Cardo";
    src: url("/fonts/Cardo-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Regular.ttf");
    font-weight: normal;
}

@import "./header.style.css";
@import "./footer.style.css";
@import "./components/about.style.css";
@import "./components/front-page.style.css";
@tailwind base;
@tailwind components;
@tailwind utilities;