.container {
    width: 100%;
}

.nav-title {
    font-family: "Cardo";
}

.nav-item {
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: normal;
}

.nav_btn_text {
    font-family: "Roboto";
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .nav_sub {
        display: block !important;
    }
    .nav-item {
        font-size: 10px !important;
    }
    .nav_container {
        justify-content: space-between !important;
    }
    .header_container {
        height: 100px !important;
    }
}